*{
    background-color: #DDD9AB;
}
.carousel-item {
    text-align: center;
}
.titulo{
    text-align: center;
}
.subtitulos {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.parrafos {
    font-size: 1.2rem;
}
.imgs{
        max-width: 15%;
}
.titulo{
    text-align: center;
    margin-top: 20px;
}
.carousel-indicators {
    margin-bottom: 20px;
}